<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/news">News</a></li>
	        		<li><a href="/resume/Boehmcke resume_public.pdf">Resume</a></li>
				<li><a href="/dataviz">DataViz</a></li>
	        		<!--<li><a href="/blog">Blog</a></li>-->
				<!--<li><a href="/portfolio">Portfolio</a></li>-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hello@paigeboehmcke.com">email</a></li>
				<li><a href="https://twitter.com/PaigeBoehmcke">twitter</a></li>
	        		<li><a href="https://linkedin.com/in/paigeboehmcke">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
